#about {
    min-height: 100vh;
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

#about p {
    max-width: 900px;
    text-align: start;
    font-size: 1.1rem;
    line-height: 1.7;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
}

.about-content section {
    margin-bottom: 2rem;
}

.about-content h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.job-experience h3 {
    font-size: 1.2rem;
    color: #ff6600;
    margin-bottom: 0;
}

.job-experience p {
    margin: 0;
    font-weight: bold;
}

.about-content strong {
    color: #ff6600;
}

.tools-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.tool-icon {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.tool-icon:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}