#home{
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


.home-text h2 {
    color: orange;
    margin-top: -10px;
    margin-bottom: 10px;
}

.home-text p {
    color: white;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    margin: 0;
    max-width: 600px;
}

.home-text .btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #201f1f;
    border: 1px solid orange;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.home-text .btn:hover {
    background-color: darkorange;
}

.home-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.home-image img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}