#projects {
    min-height: 100vh;
    padding: 4rem 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
    align-items: center;
    padding: 1rem;
}

.project-card h2 {
    color: orange;
    margin-bottom: 0;
}

.project-content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.project-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.project-card p {
    font-size: 18px;
}

.project-card a {
    margin: 0 1rem;
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: darkorange;
    text-decoration: none;
}

.project-card img {
    width:600px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.project-card img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

