.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
  position: relative;
  padding-bottom: 5px;
}

ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: orange;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

ul li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

ul li:hover a {
  color: orange;
}